<%- include ('./partial/header.ejs') -%>
    <%- include ('./partial/navbar.ejs') -%>



        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10">

                    <h4>Credit Card</h4>

                    <table class="table table-bordered">

                        <thead>
                            <tr>

                                <th>Transaction date</th>
                                <th>Operation</th>
                                <th>Account Type </th>
                                <th>Amount</th>
                                <th>Category </th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if( result.length!=0){ for(i=0;i< result.length; i++){ %>
                                <tr>
                                    <td>
                                        <%=result[i].eventCreateDate %>
                                    </td>
                                    <td>
                                        <%=result[i]. operation %>
                                    </td>
                                    <td>
                                        <%=result[i].accountType %>
                                    </td>

                                    <td>
                                        <%=result[i].amount %>
                                    </td>


                                    <td>
                                        <%=result[i].category %>
                                    </td>

                                </tr>
                                <% } %>
                                    <% } else{ %>
                                        <tr>
                                            <td colspan="7">No Data Found</td>
                                        </tr>
                                        <% } %>

                        </tbody>
                    </table>

                    <a class="btn btn-secondary view-more" href="/more_details/7965">View More</a>


                    <br>
                    <h4>Debit Card</h4>

                    <table class="table table-bordered">

                        <thead>
                            <tr>

                                <th>Transaction date</th>
                                <th>Operation</th>
                                <th>Account Type </th>
                                <th>Amount</th>
                                <th>Category </th>
                                <th>Description </th>
                            </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                    <a class="btn btn-secondary view-more" href="/more_details">View More</a>
                </div>


                <!---------------------------------------------------------->
                <div class="col-md-2 ">

                    <%- include ('./partial/sidebar.ejs') -%>

                </div>







                <%- include ('./partial/footer.ejs') -%>